* {
   margin: 0;
   padding: 0;
}

body {
   background-color: #202020;
}

input {
   display: none;
}

.slider-container {
   width: 66%;
   height: 60vh;
   margin: 10vh auto;
   border-radius: 10px;
   overflow: hidden;
   background-color: #0d1117;
}

.slides {
   display: flex;
   width: 500%;
   height: 80%;
}

.slide {
   width: 20%;
   transition: all 0.8s ease;
}

.image {
   width: 100%;
   height: 100%;
}

.slider-footer {
   height: 20%;
   display: flex;
   margin-top: 1rem;
}

.controls {
   display: flex;
   height: 100%;
}

.control {
   display: flex;
   align-items: center;
   cursor: pointer;
   height: 0.9rem;
   padding: 5px;
   margin: 2px;
   outline: 0;
}

.circle {
   width: 0.4rem;
   height: 0.4rem;
   cursor: pointer;
   background-color: #0099ff;
   border: 1px solid #0099ff;
   border-radius: 50%;
}

.control:hover .circle{
   background-color: #fff;
   border-color: #fff;
}

.control:focus .circle {
   background-color: inherit;
}

.control:active  .circle{
   background-color: #818181;
   border-color: #818181;
}

.slide-texts {
   display: flex;
   width: 500%;
}

.text {
   color: #ffffff;
}

#r1:checked ~ .first {
   margin-left: 0;
}

#r2:checked ~ .first {
   margin-left: -20%;
}

#r3:checked ~ .first {
   margin-left: -40%;
}

#r4:checked ~ .first {
   margin-left: -60%;
}

#r5:checked ~ .first {
   margin-left: -80%;
}